{% extends 'base.html.twig' %}

{% block title %}New Calendar{% endblock %}

{% block body %}
    <h1>Create new Calendar</h1>

    {{ include('calendar/_form.html.twig') }}

    <a href="{{ path('app_calendar_index') }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">volver a la lista</a>
{% endblock %}
