{% extends 'base.html.twig' %}

{% block title %}Nuevo estado{% endblock %}

{% block body %}
<header>
    {{ parent() }}
</header>

<h5 class="m-4">Crear nuevo estado</h5>

    <div class="container-fluid container-sm m-4" style="border: 2px solid #E8550F">

        {{ include('status/_form.html.twig') }}

    </div>    

    <a href="{{ path('app_status_index') }}" class="btn btn-sm m-4" style="background-color: #020100; color: #ffffff">Volver a la lista</a>

{% endblock %}
