{% extends 'base.html.twig' %}

{% block title %}Nuevo equipo{% endblock %}

{% block body %}

<header>
     {{ parent() }}
</header>

    <div class="m-4" style="border: 2px solid #E8550F">

        {{ include('team/_form.html.twig') }}

    </div>

    <a href="{{ path('app_team_index') }}" class="btn btn-md m-4" style="background-color: #020100; color: #ffffff">Volver a la lista</a>
    
{% endblock %}
