{% extends 'base.html.twig' %}

{% block title %}Nuevo equipo{% endblock %}

{% block body %}
<header>
    {{ parent() }}
</header>

<h5 class="m-4">Crear nuevo equipo</h5>

<div style="display: flex; justify-content: center; margin-bottom: 20px">

    <div class="m-4 p-4" style="border: 2px solid #E8550F; width:50%">

        {{ include('team/_form.html.twig') }}

    </div>

</div>

<div style="justify-content: center; margin-top:50px; display: flex">

    <a href="{{ path('app_team_index') }}" class="btn btn-sm m-4" style="background-color: #020100; color: #ffffff">Volver a la lista</a>
    
</div>

{% endblock %}
