{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align: center; margin-top: 50px;">Logout</h1>

    <p style="text-align: center;">Has cerrado sesión correctamente, por favor, vuelve cuando quieras.</p>
{% endblock %}
