{% extends 'base.html.twig' %}

{% block body %}

    <img src={{ asset('assets/logo_sinfondo.png')}} height="150" width="190" alt="logo" loading="lazy" class="text-center ms-50"/>

    <div class="position-absolute top-45 start-50 translate-middle">

        <h1>Logout</h1>

        <p>Has cerrado sesión correctamente, por favor, vuelve cuando quieras.</p>

        <a href="https://factoriaf5.org/" target="_blank" rel="noopener noreferrer">Web de Factoría F5</a>

    </div>
{% endblock %}