{% extends 'base.html.twig' %}

{% block title %}New Manager{% endblock %}

{% block body %}
<header>
    {{ parent() }}
</header>
<h5 class="m-4">Crear nuevo responsable</h5>

<div class="m-5" style="border: 2px solid #E8550F">

    {{ include('manager/_form.html.twig') }}
</div>

    <a href="{{ path('app_manager_index') }}" class="btn btn-md m-4" style="background-color: #020100; color: #ffffff">back to list</a>
{% endblock %}
