{% extends 'base.html.twig' %}

{% block title %}Editar rol{% endblock %}

{% block body %}
<header>
    {{ parent() }}
</header>

<h5 class="m-4">Editar rol</h5>

    <div class="container-fluid container-sm m-4" style="border: 2px solid #E8550F; width: 40%; position: relative; left: 25%">

        {{ include('rol/_form.html.twig', {'button_label': 'Guardar'}) }}

    </div>  
    <div style="display: flex; justify-content: center; width: 90%;"> 

    <a href="{{ path('app_rol_index') }}" class="btn btn-md " style="background-color: #020100; color: #ffffff; margin-right: 80px">Volver a la lista</a>
    
    {{ include('rol/_delete_form.html.twig') }}

    </div>

{% endblock %}
