{% extends 'base.html.twig' %}

{% block title %}New Rol{% endblock %}

{% block body %}

    {{ include('rol/_form.html.twig') }}

    <a href="{{ path('app_rol_index') }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">Volver a la lista</a>
{% endblock %}
