@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

body {
    background-color: #ffa37f;
    font-family: Poppins;
    /*background-image: url(../assets/home.png);*/
}

h1,h2,h3,h4,h5,h6{
    font-family: Poppins;
    color: #020100;
}

@media (min-width: 991.98px) {
    main {
    padding-left: 240px;
    }
}



