{% extends 'base.html.twig' %}

{% block title %}Editar período de prueba{% endblock %}

{% block body %}
<header>
    {{ parent() }}
</header>

<h5 class="m-4">Editar período de prueba</h5>

    <div class="container-fluid container-sm m-4" style="border: 2px solid #E8550F">

        {{ include('period/_form.html.twig', {'button_label': 'Guardar'}) }}

    </div>

    <a href="{{ path('app_period_index') }}" class="btn btn-md m-4" style="background-color: #020100; color: #ffffff">Volver a la lista</a>

    {{ include('period/_delete_form.html.twig') }}

{% endblock %}
