{% extends 'base.html.twig' %}

{% block title %}Nueva posición{% endblock %}

{% block body %}
<header>
    {{ parent() }}
</header>	

<h5 class="m-4">Crear nueva posición/h5>

    <div class="container-fluid container-sm m-4" style="border: 2px solid #E8550F">

        {{ include('position/_form.html.twig') }}

    </div>

    <a href="{{ path('app_position_index') }}" class="btn btn-md m-4" style="background-color: #020100; color: #ffffff">Volver a la lista</a>

{% endblock %}
