{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-primary" style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
