{% extends 'base.html.twig' %}

{% block title %}New Contract{% endblock %}

{% block body %}
    <h1>Create new Contract</h1>

    {{ include('contract/_form.html.twig') }}

    <a href="{{ path('app_contract_index') }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">volve a la lista</a>
{% endblock %}
