{% extends 'base.html.twig' %}

{% block title %}Edit Comentarios{% endblock %}

{% block body %}
    <h1>Edit Comentarios</h1>

    {{ include('comentarios/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_comentarios_index') }}">back to list</a>

    {{ include('comentarios/_delete_form.html.twig') }}
{% endblock %}
