{% extends 'base.html.twig' %}

{% block title %}New Comentarios{% endblock %}

{% block body %}
    <h1>Create new Comentarios</h1>

    {{ include('comentarios/_form.html.twig') }}

    <a href="{{ path('app_comentarios_index') }}">back to list</a>
{% endblock %}
