{% extends 'base.html.twig' %}

{% block title %}

{{ parent()}} - Página principal

{% endblock %}

{% block body %}

{{ parent() }}

<div class="example-wrapper">
    <h1 class="text-center mt-5">¡¡Bienvenid@ a la página de Factoría F5!!</h1>
    <img class="object-cover w-40 position-absolute top-50 start-50 translate-middle" style="height: 40%"src={{ asset('assets/image_2.png')}} alt="logo" loading="lazy" />
</div>
{% endblock %}