{% extends 'base.html.twig' %}

{% block title %}

{{ parent()}} - Página principal

{% endblock %}

{% block body %}

{{ parent() }}

<div class="example-wrapper">
    <h1>{{ controller_name }}!</h1>

    
</div>
{% endblock %}
