{% extends 'base.html.twig' %}

{% block title %}Edit Area{% endblock %}

{% block body %}

    {{ include('area/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_area_index') }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">volver a la lista</a>

    {{ include('area/_delete_form.html.twig') }}
{% endblock %}
