{% extends 'base.html.twig' %}

{% block title %}New Area{% endblock %}

{% block body %}

    {{ include('area/_form.html.twig') }}

    <a href="{{ path('app_area_index') }}"  class="btn btn-md" style="background-color: #020100; color: #ffffff">volver a la lista</a>
{% endblock %}
