<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div style="color: #020100; background-color: #ffa37f; width: 100%; padding: 16px 0; text-align: center; ">

            <h1>Hello World</h1>

            <H5>TU CONTRASEÑA ES:{{ $password }} </H5>
            
            <h4>Por favor, procede a modificar tu contraseña accediendo al enlace que te indicamos a continuación:</h4>

        </div>
    </body>
</html>
